.grid {
    &-row {
        position: relative;
        display: grid;
        grid-column-gap: 10vw;
        grid-row-gap: 2vw;
        grid-template-columns: auto auto auto;
        margin: 0 23vw 0 23vw; //DELETE FOR SMALLER SCREENS
        top: 20vh;
    
        .grid-1-of-3 {
            padding: 1vw;
            h1 {
                font-size: 3rem;
                text-align: center;
            }
    
            &__text {
                color: $color-primary;
                text-align: center;
                font-size: 1.2rem;
            }
        }
    }

    &-row-content {
        position: relative;
        display: grid;
        grid-column-gap: 10vw;
        grid-template-columns: 30vw 40vw;
    
        top: 20vh;
        padding: 5vw;
    
        .grid-1-of-2 {
            h1 {
                font-size: 3rem;
            }
    
            &__text {
                color: $color-primary;
                font-size: 1.2rem;
            }
        }
    }
}

