.large-icons-container {
    position: absolute;
    opacity: 0;
    margin: 2%;
    top: 82vh;
    left: 0;
    animation: largeIcons 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}