.modal {
    &__container {
        color: black;
        position: fixed;
        z-index:500;
        background-color: white;
        width: 50%;
        border: 1px solid #ccc;
        left: 25%;
        top: 20%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        height: 70vh;
        overflow: hidden;

        &__content {
            overflow: scroll;
            a {
                display: inline-block;
            }
            &__text {
                margin: 4vw;
                height: 35vh;
                overflow: scroll;

            }
        }

        &__buttons {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: 5vh;
            padding: 0 3vh;
            
            .btn-portifolio {
                border: none;
                background-color: $color-secondary;
                border-radius: 20px;
                color: white;
                padding: 10px;
                margin-right: 20px;
                font-size: 2rem;
                font-weight: 100;
                transition: .3s;

                &:hover {
                    color: white;
                    background-color: $color-secondary-dark;
                }
                a:hover {
                    color: white;
                }
            }
        }
    }

    &__backdrop {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        background-color: rgba( 0, 0, 0, .7);
    }
}