.modal__container {
    position: fixed;
    z-index: 500;
    background-color: $color-white;
    width: 50%;
    border: 1px solid $color-white;
    left: 25%;
    top: 140%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    height: 70vh;
    overflow: hidden;
    animation-name: showModal;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-fill-mode: forwards;

    &__content {
        overflow: scroll;
        a { display: inline-block }

        &__text {
            margin: 4vw;
            height: 35vh;
            overflow: scroll;
        }
    }
}