.navbar {
    &__container {
        background-color: $color-primary-dark;
        border-bottom: 3px solid $color-secondary;
        color: $color-secondary;

        &__sticky {
            position: fixed;
            top: -10vh;
            width: 100%;
            z-index: 10;
            animation: navbarStick 1s;
            animation-fill-mode: forwards;

            & + .section-about{
                margin-top: 7vh;
            }
        }

    }

    &__nav {
        & ul {
            justify-content: flex-start;
            list-style-type: none;
            display: flex;
        }

        & li {
            text-decoration: none;
            display: block;
            padding: 10px;

            &:hover {
                background-color: $color-primary;
            }
        }
    }
}