.section-about {
    width: auto;
    height: 100vh;
    background-color: #f7f7f7;

    &__image {
        height: auto;
        width: 25vw;
        clip-path: circle(50% at 50% 50%);
    }
}

.about {
    &__headline_line {
        width: 10vw;
        background-color: black;
        height: 4px;
        position: absolute;
        transform: translate(-50%,-50%);

        top: 120vh;
        left: 50%;
    }
}
