.portifolio {
    width: auto;
    height: $section-portifolio-height;
    background-image: 
        linear-gradient(rgba($color-primary, 0.9), rgba($color-primary, 0.9)), 
        url($portifolio-backgr);
    overflow: hidden;

    &__paragraph {
        position: relative;
        top: 25vh;
    }

    &__headline {
        position: relative;    
        top: 10vh;
        left: 44.5%;

        &_line {
            width: 10vw;
            background-color: $color-secondary;
            height: 4px;
            position: relative;
            transform: translate(-50%,-50%);

            top: 12vh;
            left: 50%;
        }
    }
}