.section-welcome {
    background-image: 
        linear-gradient(rgba($color-primary, 0.9), rgba($color-primary, 0.9)), 
        url($welcome-backgr);
    position: relative;
    top: 0;
    height: $section-welcome-height;
    width: auto;
    overflow: hidden;
}