.section-welcome {
    background-color: $color-primary;
    background-image: 
        linear-gradient(rgba($color-primary, 0.9), rgba($color-primary, 0.9)), 
        url('./assets/images/backgr-welcome.jpg');
    position: relative;
    top: 0;
    height: 100vh;
    width: auto;
    font-size: 3rem;
    color: white;
    overflow: hidden;
}