@media (max-width: 361px) {
    // NavBar

    .navbar {
        &__container  { display: none }
        &__sticky { display: none }
    }

    // Welcome

    .section-welcome { font-size: 2rem }

    .welcome {
        &-text {
            &-container { width: 85% }
            
            &-2 { 
                padding: 0 0 0 5%;
                font-size: 1.6rem;
                animation: welcomeAppear1GS5 2s forwards;
            }
        }

        &-scroll-btn { display: none }
    }

    .large-icons-container {
        width: 100%;
        margin: 0;
        text-align: center;
        animation: largeIconsGS5 .5s forwards;
        animation-delay: 2s;

        ion-icon { font-size: 5rem }
    }

    // About

    .section-about {
        height: 200vh !important;

        &__image {
            width: 100% !important;
            margin: 5vh 0 !important;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
        }
    }

    .about {
        h2 { text-align: justify}
        
        &__headline { 
            top: 110vh;

            &_line { 
                top: 15vh !important;
                width: 20vw  !important;
            }
        }

        &__text { margin: 5vh 0 !important }

        &__icon { display: none }
    }

    .grid {
        &-row-content,
        &-row {
            display: block;
            grid-column-gap: 0;
            grid-row-gap: 0;
            grid-template-columns: none;
        }
        
        &-row { 
            margin: 0 20vw;
            &-content { padding: 0 }
        }

        &-1-of-3 {
            padding: 0;

            &__text {
                h1 { margin: 15px 0 }
            }
        }

        &-1-of-2 { margin: 0 15px }
    }


    // Portfolio

    .portifolio {
        height: 190vh !important;

        &__headline { 
            left: 30% !important;
            &_line { width: 15vw !important}
        }
        
        &__paragraph { margin: 0 15px }
    }

    .grid-row-portifolio { 
        display: block;
        &__1-of-4 {
            margin: 5vh 0;
            height: auto;
        }
    }

    .btn-portifolio {
        padding: 3vw;
        color: $color-white;
        background-color: $color-secondary;
        border: none;
    }

    [class*="item"] {
        .btn-portifolio { color: $color-white }

        &:hover { transform: scale(1.05) }
    }


    // MODAL

    .modal__container {
        height: 85vh;
        left: 5%;
        width: 90%;
        animation-name: showModalGS5;

        &__content {
            h1 { font-size: 3rem }
            &__text { height: 60vh }
        }

        .btn-portifolio { 
            padding: 0 3vw;
            margin-right: 12vw;
        }
    }

    .contact {
        display: none;
    }
}

@keyframes largeIconsGS5 {
    0% {
        opacity: 0;
        top: 75vh;
    }
    100% {
        opacity: 1;
        top: 65vh;
    }
}

@keyframes welcomeAppear1GS5 {
    0% {
        padding: 10% 0 0 5%;
        opacity: 0;
    }
    100% {
        padding: 0 0 0 5%;
        opacity: 1;
    }
}

@keyframes showModalGS5 {
    0%{
        top: 140%;
    }
    100%{
        top: 10%;
    }
}