// == WELCOME TITLES ==
@keyframes welcomeAppear1 {
    0% {
        padding: 10% 0 0 20%;
        opacity: 0;
    }
    100% {
        padding: 0 0 0 20%;
        opacity: 1;
    }
}

@keyframes welcomeAppear2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// == HAMBURGER MENU ==

@keyframes hamburgerMenu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// == LARGE ICONS ==

@keyframes largeIcons {
    0% {
        opacity: 0;
        top: 84vh;
    }
    100% {
        opacity: 1;
        top: 82vh;
    }
}

// == Scroll Btn ==
@keyframes scrollBtnAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes scrollBtn {
    0% {
        top: 70vh;
    }
    50% {
        top: 75vh;
    }
    100% {
        top: 70vh;
    }
}

// == NAVBAR ==

@keyframes navbarStick {
    0% {
        top: -10vh;
    }
    100% {
        top: 0;
    }
}

// == MODAL ==

@keyframes showModal {
    0%{
        top: 140%;
    }
    100%{
        top: 20%;
    }
}
@keyframes showBackDrop {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}