// == WELCOME TITLES ==
@keyframes welcomeappear1 {
    0% {
        padding: 10% 0 0 20%;
        opacity: 0;
    }
    100% {
        padding: 0 0 0 20%;
        opacity: 1;
    }
}

@keyframes welcomeappear2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// == HAMBURGER MENU ==

@keyframes hamburgermenu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// == LARGE ICONS ==

@keyframes largeicons {
    0% {
        opacity: 0;
        top: 84vh;
    }
    100% {
        opacity: 1;
        top: 82vh;
    }
}