*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

ion-icon {
    font-size: 70px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;

    &:hover {
        color: $color-secondary;
    }
}