body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: black;
}

// == WELCOME ==

.welcome-text-container {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}

.welcome-text-1 { 
    padding: 1rem;
    animation: welcomeAppear2 2s;
}

.welcome-text-2 {
    padding:  0 0 0 20%;
    animation: welcomeAppear1 2s;
}

.name-color {
    color: $color-secondary;
}

// == NAVBAR ==

.navbar__container {
    font-size: 2rem;
    font-weight: 200;
}

// == ABOUT ==

.about {
    & h1 {
        font-weight: 200;
        font-size: 4rem;
    }

    & h3 {
        font-weight: 400;
        font-size: 2rem;
        display: inline-block;
        color: white;
        background-color: $color-secondary;
        border-radius: 10%;
        padding: 6px;
        margin: 4px;
    }

    &__headline {
        position: absolute;
        font-size: 5rem;
        font-weight: 300;
        transform: translate(-50%,-50%);
        color: $color-secondary-dark;
        left: 50%;
        top: 115vh;
    }
}

// == MODAL == 

.modal {
    &__container {
        &__content {
            display: inline;
            h1 {  
                text-align: center;
                padding: 2vh 0;
                color: $color-white;
                background-color: $color-secondary;
            }
            &__text {
                font-size: 1.5rem;
                p {
                    text-align: justify;
                }
                h2 {
                    color: $color-secondary;
                    margin: 4px 0;
                }
            }
        }
    }
}